@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

.logo {
    position: absolute;
    width: 50%;
    // height: 50%;
    left: 60%;
    // top: 50%;
}
.comida {
    position: absolute;
    width: 45%;
    top: 40%;
    left: -5%;
}
.comida1 {
    position: absolute;
    width: 50%;
    left: -5%;
}
.batata {
    position: absolute;
    width: 60%;
    top: 38%;
    left: 50%;
}
.coca {
    position: absolute;
    width: 30%;
    top: 15%;
    left: 64%;
}
.btn-azul {
    position: absolute;
    width: 240px;
    height: 50px;
    left: 15px;
    top: 435px;
    background: #008cff;
    border: 1px solid #008cff;
    box-sizing: border-box;
    border-radius: 5px;
}
.g {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 5px;
    top: 4px;
    border-radius: 5px;
}
.txt {
    position: absolute;
    width: 250px;
    height: 14px;
    left: 50px;
    top: -6.5px;
    font-weight: 500;
    font-size: 17px;

    color: #ffffff;
}
.btn-banco {
    position: absolute;
    width: 240px;
    height: 50px;
    left: 15px;
    top: 500px;
    border: 1px solid #0000003d;
    box-sizing: border-box;
    border-radius: 5px;
}
.txt2 {
    position: absolute;
    width: 350px;
    height: 14px;
    left: 65px;
    top: 15px;
    font-weight: 500;
    font-size: 17   px;
    font-weight: bold;
    opacity: 60%;
}
.txt3 {
    position: absolute;
    width: 300px;
    height: 14px;
    left: 8px;
    top: -190px;
    font-weight: 200;
    font-size: 22px;
    font-weight: bold;
    opacity: 70%;
}
.txt4 {
    position: absolute;
    width: 300px;
    height: 14px;
    left: 45px;
    top: 375px;
    font-weight: 200;
    font-size: 17px;
    // font-weight: bold;
    opacity: 50%;
}
.ifood {
    position: absolute;
    width: 20%;
    top: 25%;
    left: 38%;
}
.txt5 {
    position: absolute;
    width: 300px;
    height: 14px;
    left: 70px;
    top: -165px;
    font-weight: 200;
    font-size: 22px;
    font-weight: bold;
    opacity: 70%;
}
