<ion-content>
  <div>
    <img src="assets/icon/coca.png" class="coca" alt="" />
    <img src="assets/icon/batata.png" class="batata" alt="" />
    <img src="assets/icon/comida1.png" class="comida1" alt="" />
    <img src="assets/icon/comida.png" class="comida" alt="" />
    <img src="assets/icon/pizza.png" class="logo" alt="" />
    <img src="assets/icon/ifood.png" class="ifood" alt="" />
  </div>
  <div class="btn-azul" [routerLink]="['/home']">
    <img src="assets/icon/g.png" class="g" alt="" />
    <h1 class="txt">Continuar com o Google</h1>
  </div>
  <div class="btn-banco">
    <b class="txt2"> Outras opçôes </b>
    <h1 class="txt3">Falta pouco pra matar</h1>
    <h1 class="txt5">sua fome!</h1>
  </div>
  <div>
    <h1 class="txt4">Como deseja continuar?</h1>
  </div>
</ion-content>
