<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1">
        <ion-icon color="primary" [routerLink]="['/home']" name="home">
        </ion-icon>
        <ion-label>Início</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab2">
        <ion-icon color="primary" [routerLink]="['/seach']" name="search-outline">
        </ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab3">
        <ion-icon
          color="primary"
          [routerLink]="['/pedidos']"
          name="newspaper-outline"
        >
        </ion-icon>
        <ion-label>Pedidos</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab4">
        <ion-icon
          color="primary"
          [routerLink]="['/perfil']"
          name="person-add-outline"
        >
        </ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <div  class="barra1">
    <div  class="barra2">
      <div class="nome2"></div>
<div class="barra3"></div>
    </div>
  </div>
  <div class="barra" >
  
  </div>

  <div class="background">
    <ion-icon  class="voltar"  color="light" name="arrow-back-outline"></ion-icon>
    <img class="avatar" src="assets/icon/Avatar-Profile.png" alt="">
    <img class="camera" src="assets/icon/camera.png" alt="">
    <h1 class="title">Perfil</h1>
    <p class="nome">Nome</p>
    <b  class="name">Gaspar Halabe</b>
    <p class="name1" > Email </p>
    <b class="nome1" > gasparzinhohalabe@gmail.com </b>
    <b class="nome2" > (81) 982313498 </b>
    <p class="name2" >Telefone</p>
    <p class="name3" > Data de nascimento </p>
    <b  class="nome3"> 20/04/2021 </b>
  </div>
</ion-content>
