.icon-pedidos {
    position: absolute;
    top: 110px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');
.meus-pedidos {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    left: 80px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
.ifood {
    position: absolute;
    top: 350px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    left: 45px;
    opacity: 80%;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.texto {
    position: absolute;
    top: 390px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    left: 12px;
    opacity: 80%;
}