ion-searchbar {
    --border-radius: 20px;
    --icon-color: rgb(255, 0, 0);
    --clear-button-color: rgb(255, 0, 0);
}
.icon2 {
    position: absolute;
    top: 80px;
}
.icon1 {
    position: absolute;
    top: 80px;
}
.icon3 {
    position: absolute;
    top: 80px;
}
.icon4 {
    position: absolute;
    top: 80px;
}
.icon5 {
    position: absolute;
    top: 80px;
}

.icon6 {
    position: absolute;
    top: 80px;
}
.icon7 {
    position: absolute;
    top: 80px;
}

.icon8 {
    position: absolute;
    top: 80px;
}
.icon9 {
    position: absolute;
    top: 80px;
}

.icon10 {
    position: absolute;
    top: 80px;
}
.icon11 {
    position: absolute;
    top: 80px;
}
.icon11 {
    position: absolute;
    top: 80px;
}
.icon12 {
    position: absolute;
    top: 80px;
}
.icon14 {
    height: 17%;
    width: 51%;
    position: absolute;
    top: 433px;
    left: 136px;
}
